.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/backgroundLand.jpg');
    background-color: #cccccc;
    flex-direction: column;

}

.answerBox{
    background-color: rgb(30, 76, 78);
    padding: 1em;
    font-family: 'Gloock', serif;
    color: aliceblue;
    
}
.answerBoxText{
    font-family: 'Gloock', serif;
    color: aliceblue;
}

.buttons{
display: flex;
justify-content: space-around;
padding-bottom: .5em;
}

.button{
    background-color: rgb(240, 102, 51);
    width: 40%;
    font-family: 'Gloock', serif;
    border:none;
    color: white;
}

.button:hover{
    background-color: rgb(242, 186, 166);

}

.header{
    font-size: 5em;
    font-family: 'Gloock', serif;
    color: rgb(30, 76, 78);
}