.body{
    position: top;
    height: 10vh;
    background-color: rgb(30, 76, 78);
    margin: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.3em 0.3em 3em rgba(0, 0, 0, 0.3);
}
.title{
    margin-left:1em;
    color: coral;
}

.links{
    font-family: 'Gloock', serif;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.link{
    font-family: 'Gloock', serif;
    font-size: larger;
    text-decoration: none;
    color: coral;
}
.qNum{

    font-family: Georgia, 'Times New Roman', Times, serif;
  
    border-radius: 20px;
    color: white;
    background-color: crimson;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    position: absolute;
    margin-left: 1em;
   
}
.qNumDiv{
    margin-left: 1em;
    padding-left: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.cartLogo{
    font-size: larger;
    z-index: 9;
}
.cart{
    position: relative;
}