.body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url('../img/backgroundLand.jpg');
      background-color: #cccccc;
      flex-direction: column;
}

.input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: .9em;
      font-size: 20px;
}

.inputColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 1.5px;
      margin-right: 1.5px;
}

.inputBox {
      padding-left: 10px;
      height: 30px;
      width: 13em;
      font-size: 20px;
      border: 2px solid rgb(240, 102, 51);
      margin-bottom: 3px;
      border-radius: 4px;
      color: white;

}

.answerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(30, 76, 78);
      padding: .2em;
      color: aliceblue;
}

.buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5em;
}

.buttonLink {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(240, 102, 51);
      height: 35px;
      width: 160px;
      border: none;
      color: white;
      font-size: 20px;
      text-decoration: none;
      margin-top: 10px;
      margin-bottom: 10px;
}

.buttonLink:hover {
      background-color: rgb(242, 186, 166);
      cursor: pointer;
}