.body {
    display: flex;
    justify-content: center;
    height: 90vh;
    background-image: url('../img/backgroundLand.jpg');
    background-color: #cccccc;
    margin: none;
    overflow-y: scroll;
    padding-bottom: 2em;
}
.title{
    font-size: 2em;
    font-family: 'Gloock', serif;
}
.titleImgDiv {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleImgDesc {
    display: flex;
    width: 100%;
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    overflow: hidden;


}

.img {
    height: 500px;

}

.container {
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    width: 70%;
    height: 90vh;
    overflow-y: scroll;
    margin-top: 1em;
    display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    background-color: rgb(247, 230, 223);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.num{
  
    margin:none;
    display: flex;
    justify-content: center;
}
.descDiv {
    font-family: 'Gloock', serif;
    font-size: 1.5em;
    margin-top: 1em;
    border-radius: 7px;
    padding: 1em;
    width: 70%;
    font-weight: lighter;
    background-color: bisque;
    height: fit-content;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.priceDesc{
    display: flex;
    flex-direction: column;
    width: 70%;
  
    align-items: center;
}
.price{
    margin-top: 1em;
}
.button{
    font-size: large;
    width: 50%;
    border-radius: 7px;
    padding: 6px;
    background-color: bisque;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button:hover{
  
    background-color: coral;
    color: aliceblue;
    cursor: pointer;
    box-shadow: none;
}
.buttons{
    margin-top: 2em;
    background-color: bisque;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1em;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.buttonPosition{
    display: flex;
    justify-content: flex-end;
}

.quantity {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.minus{
    font-size: large;
}

.minusPlus {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 15%;
    font-size: 30px;
    cursor: pointer;
    border-radius: 7px;
    background-color: bisque;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.minusPlus:hover {
    background-color: rgb(202, 168, 127);
}